#prixz-custom-related-products-container {
    margin: auto;
    width: 100%;
    overflow: visible; /* Permite que los elementos como los botones de navegación sean visibles fuera del contenedor */
}

.pcrp-carousel-container {
    position: relative;
    max-width: 100%;
    display: flex;
    overflow: hidden; /* Esconde cualquier elemento que se desborde del contenedor */
}

.pcrp-carousel {
    width: 100%; /* Utiliza todo el ancho disponible del contenedor */
}

.pcrp-carousel-inner {
    display: flex;
    align-items: center;
    position: relative; /* Añadido para manejar mejor la posición absoluta de los botones */
}

.pcrp-carousel-item {
    flex: 0 0 25%; /* Cada ítem ocupa exactamente el 25% del espacio disponible */
    padding: 1.7rem;
    box-sizing: border-box; /* Asegura que el padding y border están incluidos en el ancho definido */
}

.pcrp-prev, .pcrp-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centra los botones verticalmente */
    z-index: 1000; /* Asegura que están sobre cualquier otro elemento */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para visibilidad */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px; /* Tamaño de botón ajustable */
    font-size: 24px; /* Tamaño de icono visible */
}

.pcrp-prev {
    left: 10px; /* Posición desde el lado izquierdo */
}

.pcrp-next {
    right: 10px; /* Posición desde el lado derecho */
}

@media (max-width: 767px) {
    .pcrp-carousel-item {
        flex: 0 0 50%; /* Cada ítem ocupa el 50% en pantallas medianas */
    }
}

@media (max-width: 475px) {
    .pcrp-carousel-item {
        flex: 0 0 100%; /* Cada ítem ocupa el 100% en dispositivos móviles */
    }
    .pcrp-prev, .pcrp-next {
        font-size: 18px; /* Reduce el tamaño de los botones en pantallas pequeñas */
        padding: 8px 16px; /* Reduce el padding en pantallas pequeñas */
    }
}
